* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1440px;
    height: 990px;

    background: #FFFFFF;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 710px;
    height: 990px;


    background: #E2F0FF;

}

.txt h1 {
    width: 380px;
    height: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 131.5%;
    text-align: center;
    color: #292731;
}

.txt p {
    width: 320px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #2c83d4;
}

.image {
    position: relative;
    width: 524px;
    height: 391px;
    background-image: url(./image/1.svg);
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    position: absolute;
    width: 710px;
    height: 990px;
    left: 800px;
    top: 10px;
}

.img {
    width: 36px;
    height: 36px;
    flex: none;
    background-image: url(./image/waving-hand.svg);
}

h1 {
    width: 239px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #292731;
}

h6 {
    width: 292px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #292731;
}

.section1 p {
    width: 199px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #455360;
}

.section2 p {
    width: 199px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #455360;
}

.inp-1 {
    width: 440px;
    height: 48px;
    background: #ECF2F7;
    border-radius: 4px;
}

.inp-1 placeholder {
    width: 281px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7B8389;
}

.inp-2 {
    width: 440px;
    height: 48px;
    background: #ECF2F7;
    border-radius: 4px;
}

button {
    Width: 440px;
    Height: 54px;
    background: #4C70FF;
    border-radius: 8px;
}

.btn p {
    width: 256px;
    height: 24px;
    padding-top: 20px;
    padding-left: 120px;
}

a {
    color: blue
}